footer, footer .link-sami a, footer .info a{
    color: white;
    text-decoration: none;
}
footer ul{
    list-style: none;
}
footer section article{
    width: 100%;
    text-align: center;
}
footer .info{
    background-color: #495057;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 35px 20px 70px;
}
footer .info .logo{
    border-bottom: 1px solid white;
    width: 100%;
}
footer .info .logo h2{
    margin-bottom: 35px;
    letter-spacing: 18px;
    font-weight: 500;
    font-size: 20px;
}
footer .info .contacto h3, footer .info .siguenos h3{
    margin: 30px 0;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 16px;
}
footer .info .contacto ul li{
    margin-bottom: 25px;
}
footer .info .siguenos ul{
    display: flex;
    justify-content: center;
    gap: 25px;
}
footer .link-sami{
    background-color: #A9B546;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}
footer .link-sami a{
 text-decoration: underline;
 
}
footer .info .contacto ul li:last-child {
    margin-bottom: 25px;
}
footer .info .siguenos{
   margin-top: 20px;
}